node_modules
npm-debug.log
Dockerfile
.dockerignore
.git
.gitignore
.env
.env.*
.env.local
.env.test
.env.example
*.log
*.md
.eslintrc
.eslintrc.js
.eslintrc.json
prettier.config.js
vitest.config.ts
coverage
dist
